# Cleaning the Dataframe into a usable Dataframe

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:/Users/Admin/Documents/Movie - Data Set for Cleaning - Sheet1.csv")

In [4]:
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [28]:
df.shape

(14, 16)

In [12]:
len(df)

14

In [5]:
df.head

<bound method NDFrame.head of                                      movie_title  num_critic_for_reviews  \
0                                       Avatar?ÿ                     723
1     Pirates of the Caribbean: At World's End?ÿ                     302
2                                      Spectre?ÿ                     602
3                        The Dark Knight Rises?ÿ                     813
4                                  John Carter?ÿ                     462
5                                 Spider-Man 3?ÿ                     392
6                                      Tangled?ÿ                     324
7                      Avengers: Age of Ultron?ÿ                     635
8                      Avengers: Age of Ultron?ÿ                     635
9       Harry Potter and the Half-Blood Prince?ÿ                     375
10          Batman v Superman: Dawn of Justice?ÿ                     673
11                            Superman Returns?ÿ                     434
12                           Quantum of Solace?ÿ                     403
13  Pirates of the Caribbean: Dead Man's Chest?ÿ                     313

    duration DIRECTOR_facebook_likes  actor_3_facebook_likes  \
0      178.0                      10                     855
1        NaN                     563                    1000
2      148.0                      20                     161
3        NaN                   22000                   23000
4      132.0                   "475"                     530
5      156.0                      23                    4000
6        NaN                      15                     284
7      141.0                      10                   19000
8      141.0                      10                   19000
9      153.0                     282                   10000
10     183.0                     NaN                    2000
11     169.0                     NaN                     903
12     106.0                     395                     393
13     151.0                     563                    1000

    ACTOR_1_facebook_likes      gross  num_voted_users  \
0                     1000  760505847         886204.0
1                    40000  309404152         471220.0
2                    11000  200074175         275868.0
3                    27000  448130642        1144337.0
4                      640   73058679         212204.0
5                    24000  336530303         383056.0
6                      799  200807262         294810.0
7                    26000  458991599         462669.0
8                    26000  458991599         462669.0
9                    25000  301956980         321795.0
10                   15000  330249062              NaN
11                   18000  200069408         240396.0
12                     451  168368427         330784.0
13                   40000  423032628         522040.0

    Cast_Total_facebook_likes  facenumber_in_poster  num_user_for_reviews  \
0                      4834.0                   NaN                  3054
1                     48350.0                   NaN                  1238
2                     11700.0                   1.0                   994
3                    106759.0                   NaN                  2701
4                      1873.0                   1.0                   738
5                     46055.0                   NaN                  1902
6                         NaN                   1.0                   387
7                     92000.0                   4.0                  1117
8                     92000.0                   4.0                  1117
9                     58753.0                   3.0                   973
10                    24450.0                   NaN                  3018
11                        NaN                   2.0                  2367
12                     2023.0                   1.0                  1243
13                    48486.0                   2.0                  1832

       budget  title_year  ACTOR_2_facebook_likes  imdb_score  title_year.1
0   237000000        2009                   936.0         7.9        2009.0
1   300000000        2007                  5000.0         7.1           NaN
2   245000000        2015                   393.0         6.8        2015.0
3   250000000        2012                 23000.0         8.5           NaN
4   263700000        2012                   632.0         6.6           NaN
5   258000000        2007                 11000.0         6.2        2007.0
6   260000000        2010                   553.0         7.8           NaN
7   250000000        2015                 21000.0         7.5           NaN
8   250000000        2015                 21000.0         7.5        2015.0
9   250000000        2009                 11000.0         7.5           NaN
10  250000000        2016                     NaN         6.9        2016.0
11  209000000        2006                 10000.0         6.1           NaN
12  200000000        2008                   412.0         6.7        2008.0
13  225000000        2006                  5000.0         7.3        2008.0  >

In [34]:
df.isna().any()

movie_title                  False
num_critic_for_reviews       False
duration                      True
DIRECTOR_facebook_likes       True
actor_3_facebook_likes       False
ACTOR_1_facebook_likes       False
gross                        False
num_voted_users               True
Cast_Total_facebook_likes     True
facenumber_in_poster          True
num_user_for_reviews         False
budget                       False
title_year                   False
ACTOR_2_facebook_likes        True
imdb_score                   False
title_year.1                  True
dtype: bool

In [35]:
df.dtypes

movie_title                   object
num_critic_for_reviews         int64
duration                     float64
DIRECTOR_facebook_likes       object
actor_3_facebook_likes         int64
ACTOR_1_facebook_likes         int64
gross                          int64
num_voted_users              float64
Cast_Total_facebook_likes    float64
facenumber_in_poster         float64
num_user_for_reviews           int64
budget                         int64
title_year                     int64
ACTOR_2_facebook_likes       float64
imdb_score                   float64
title_year.1                 float64
dtype: object

In [6]:
# drop NuN values

df1=df.fillna(0)

In [7]:
df1

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,0.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1,0.0
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,0.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5,0.0
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,0.0
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,0.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8,0.0
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,0.0
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,0.0
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1,0.0
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [8]:
# Drop duplicate values

df2=df1.drop_duplicates(subset='movie_title',keep='first')

In [9]:
df2

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,0.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1,0.0
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,0.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5,0.0
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,0.0
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,0.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8,0.0
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,0.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,0.0
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1,0.0
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [10]:
df3 = df2.reset_index(drop=True)

In [11]:
df3

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,0.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1,0.0
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,0.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5,0.0
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,0.0
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,0.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8,0.0
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,0.0
8,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,0.0
9,Batman v Superman: Dawn of Justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9,2016.0
10,Superman Returns?ÿ,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1,0.0
11,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
12,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [13]:
df3.drop('title_year.1', inplace=True, axis=1)

In [14]:
df3

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9
1,Pirates of the Caribbean: At World's End?ÿ,302,0.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8
3,The Dark Knight Rises?ÿ,813,0.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2
6,Tangled?ÿ,324,0.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5
8,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5
9,Batman v Superman: Dawn of Justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9
10,Superman Returns?ÿ,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1
11,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7
12,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3

In [20]:
df3

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9
1,Pirates of the caribbean: at world's end?ÿ,302,0.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8
3,The dark knight rises?ÿ,813,0.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5
4,John carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6
5,Spider-man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2
6,Tangled?ÿ,324,0.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8
7,Avengers: age of ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5
8,Harry potter and the half-blood prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5
9,Batman v superman: dawn of justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9
10,Superman returns?ÿ,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1
11,Quantum of solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7
12,Pirates of the caribbean: dead man's chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3

In [27]:
df4 = df3["movie_title"].str[:-2]
df4

0                                         Avatar
1       Pirates of the caribbean: at world's end
2                                        Spectre
3                          The dark knight rises
4                                    John carter
5                                   Spider-man 3
6                                        Tangled
7                        Avengers: age of ultron
8         Harry potter and the half-blood prince
9             Batman v superman: dawn of justice
10                              Superman returns
11                             Quantum of solace
12    Pirates of the caribbean: dead man's chest
Name: movie_title, dtype: object

In [25]:
df3

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9
1,Pirates of the caribbean: at world's end?ÿ,302,0.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8
3,The dark knight rises?ÿ,813,0.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5
4,John carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6
5,Spider-man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2
6,Tangled?ÿ,324,0.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8
7,Avengers: age of ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5
8,Harry potter and the half-blood prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5
9,Batman v superman: dawn of justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9
10,Superman returns?ÿ,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1
11,Quantum of solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7
12,Pirates of the caribbean: dead man's chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3

In [23]:
df3

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9
1,Pirates of the caribbean: at world's end?ÿ,302,0.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8
3,The dark knight rises?ÿ,813,0.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5
4,John carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6
5,Spider-man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2
6,Tangled?ÿ,324,0.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8
7,Avengers: age of ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5
8,Harry potter and the half-blood prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5
9,Batman v superman: dawn of justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9
10,Superman returns?ÿ,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1
11,Quantum of solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7
12,Pirates of the caribbean: dead man's chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3

In [44]:
df4 = df3.rename(columns={'movie_title': 'Movie_Name','num_critic_for_reviews':'Num_Critic_For_Reviews','duration':'DURATION','DIRECTOR_facebook_likes':'DIRECTOR_Facebook_Likes','actor_3_facebook_likes':'ACTOR_3_Facebook_Likes','ACTOR_1_facebook_likes':'ACTOR_1_Facebook_Likes','gross':'GROSS','Cast_Total_facebook_likes':'Cast_Total_Facebook_Likes','num_voted_users':'NUM_Voted_User','facenumber_in_poster':'Face_Number_In_Poster','num_user_for_reviews':'Num_User_For_Review','budget':'BUDGET','title_year':'TITLE_YEAR','ACTOR_2_facebook_likes':'ACTOR_2_Facebook_Likes','imdb_score':'IMDB_SCORE'})

In [45]:
df4

,Movie_Name,Num_Critic_For_Reviews,DURATION,DIRECTOR_Facebook_Likes,ACTOR_3_Facebook_Likes,ACTOR_1_Facebook_Likes,GROSS,NUM_Voted_User,Cast_Total_Facebook_Likes,Face_Number_In_Poster,Num_User_For_Review,BUDGET,TITLE_YEAR,ACTOR_2_Facebook_Likes,IMDB_SCORE
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9
1,Pirates of the caribbean: at world's end?ÿ,302,0.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8
3,The dark knight rises?ÿ,813,0.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5
4,John carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6
5,Spider-man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2
6,Tangled?ÿ,324,0.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8
7,Avengers: age of ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5
8,Harry potter and the half-blood prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5
9,Batman v superman: dawn of justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9
10,Superman returns?ÿ,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1
11,Quantum of solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7
12,Pirates of the caribbean: dead man's chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3

In [47]:
df4.head

<bound method NDFrame.head of                                       Movie_Name  Num_Critic_For_Reviews  \
0                                       Avatar?ÿ                     723
1     Pirates of the caribbean: at world's end?ÿ                     302
2                                      Spectre?ÿ                     602
3                        The dark knight rises?ÿ                     813
4                                  John carter?ÿ                     462
5                                 Spider-man 3?ÿ                     392
6                                      Tangled?ÿ                     324
7                      Avengers: age of ultron?ÿ                     635
8       Harry potter and the half-blood prince?ÿ                     375
9           Batman v superman: dawn of justice?ÿ                     673
10                            Superman returns?ÿ                     434
11                           Quantum of solace?ÿ                     403
12  Pirates of the caribbean: dead man's chest?ÿ                     313

    DURATION DIRECTOR_Facebook_Likes  ACTOR_3_Facebook_Likes  \
0      178.0                      10                     855
1        0.0                     563                    1000
2      148.0                      20                     161
3        0.0                   22000                   23000
4      132.0                   "475"                     530
5      156.0                      23                    4000
6        0.0                      15                     284
7      141.0                      10                   19000
8      153.0                     282                   10000
9      183.0                       0                    2000
10     169.0                       0                     903
11     106.0                     395                     393
12     151.0                     563                    1000

    ACTOR_1_Facebook_Likes      GROSS  NUM_Voted_User  \
0                     1000  760505847        886204.0
1                    40000  309404152        471220.0
2                    11000  200074175        275868.0
3                    27000  448130642       1144337.0
4                      640   73058679        212204.0
5                    24000  336530303        383056.0
6                      799  200807262        294810.0
7                    26000  458991599        462669.0
8                    25000  301956980        321795.0
9                    15000  330249062             0.0
10                   18000  200069408        240396.0
11                     451  168368427        330784.0
12                   40000  423032628        522040.0

    Cast_Total_Facebook_Likes  Face_Number_In_Poster  Num_User_For_Review  \
0                      4834.0                    0.0                 3054
1                     48350.0                    0.0                 1238
2                     11700.0                    1.0                  994
3                    106759.0                    0.0                 2701
4                      1873.0                    1.0                  738
5                     46055.0                    0.0                 1902
6                         0.0                    1.0                  387
7                     92000.0                    4.0                 1117
8                     58753.0                    3.0                  973
9                     24450.0                    0.0                 3018
10                        0.0                    2.0                 2367
11                     2023.0                    1.0                 1243
12                    48486.0                    2.0                 1832

       BUDGET  TITLE_YEAR  ACTOR_2_Facebook_Likes  IMDB_SCORE
0   237000000        2009                   936.0         7.9
1   300000000        2007                  5000.0         7.1
2   245000000        2015                   393.0         6.8
3   250000000        2012                 23000.0         8.5
4   263700000        2012                   632.0         6.6
5   258000000        2007                 11000.0         6.2
6   260000000        2010                   553.0         7.8
7   250000000        2015                 21000.0         7.5
8   250000000        2009                 11000.0         7.5
9   250000000        2016                     0.0         6.9
10  209000000        2006                 10000.0         6.1
11  200000000        2008                   412.0         6.7
12  225000000        2006                  5000.0         7.3  >

In [48]:
len(df4)

13

In [49]:
df4.shape

(13, 15)